/*
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include "skeleton.dtsi"
#include "imx6q-pinfunc.h"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/imx6qdl-clock.h>
#include "imx6q-advantech-soc.dtsi"
#include "imx6q-advantech-rom7420-iomux.dtsi"

/ {
	model = "Retronix i.MX6 DUAL ROM-7420 Board";
	compatible = "fsl,imx6q-advantech-rom7420", "fsl,imx6q";
	
	aliases {
		mxcfb0 = &lvds_display;
		mxcfb1 = &lcd_display;
	};
	
	memory {
		reg = <0x10000000 0x40000000>;
	};
	
	clocks {
		#address-cells = <1>;
		#size-cells = <0>;
		mclk: clock@0 {
			compatible = "fixed-clock";
			reg = <0>;
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};
	};
	
	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;
		
		reg_1p8v: 1p8v {
			compatible = "regulator-fixed";
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_2p5v: 2p5v {
			compatible = "regulator-fixed";
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usb_otg_vbus: usb_otg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 22 0>;
			enable-active-high;
		};

		reg_backlight: backlight {
			compatible = "regulator-fixed";
			regulator-name = "lcd-supply";
			startup-delay-us = <5000>;
			enable-active-high;
		};
	
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_keys_1>;
		
		sleep {
			label = "sleep Button";
			gpios = <&gpio4 5 1>;
			linux,code = <KEY_SUSPEND>; /* KEY_SUSPEND */
			gpio-key,wakeup;
		};

	};

	gpio_export {
		compatible = "gpio-export";

		/* current_gpio1 = <&gpio6 11 0>; 171 */
		current_gpio1 {
			/*gpio-export,name = "current_gpio1";*/
			gpio-export,output = <1>;
			gpio-export,direction_may_change ;
			gpios = <&gpio6 11 1>;
		};

		/* current_gpio2 = <&gpio6 14 0>; 174 */
		current_gpio2 {
			/*gpio-export,name = "current_gpio2";*/
			gpio-export,output = <1>;
			gpio-export,direction_may_change ;
			gpios = <&gpio6 14 1>;
		};

		/* current_gpio3 = <&gpio6 15 0>; 175 */
		current_gpio3 {
			/*gpio-export,name = "current_gpio3";*/
			gpio-export,output = <1>;
			gpio-export,direction_may_change ;
			gpios = <&gpio6 15 1>;
		};

		/* current_gpio4 = <&gpio6 16 0>; 176 */
		current_gpio4 {
			/*gpio-export,name = "current_gpio4";*/
			gpio-export,output = <1>;
			gpio-export,direction_may_change ;
			gpios = <&gpio6 16 1>;
		};

		/* current_gpio5 = <&gpio2 25 0>; 57 */
		current_gpio5 {
			/*gpio-export,name = "current_gpio5";*/
			gpio-export,output = <1>;
			gpio-export,direction_may_change ;
			gpios = <&gpio2 25 1>;
		};

		/* current_gpio6 = <&gpio2 23 0>; 55 */
		current_gpio6 {
			/*gpio-export,name = "current_gpio6";*/
			gpio-export,output = <1>;
			gpio-export,direction_may_change ;
			gpios = <&gpio2 23 1>;
		};
		
		/* current_gpio7 = <&gpio2 24 0>; 56 */
		current_gpio7 {
			/*gpio-export,name = "current_gpio7";*/
			gpio-export,output = <1>;
			gpio-export,direction_may_change ;
			gpios = <&gpio2 24 1>;
		};

		/* current_gpio8 = <&gpio5 2 0>; 130 */
		current_gpio8 {
			/*gpio-export,name = "current_gpio8";*/
			gpio-export,output = <1>;
			gpio-export,direction_may_change ;
			gpios = <&gpio5 2 1>;
		};
		

		/* can2_tx = <&gpio7 4 1>; 196 */
		gpio_power {
			/*gpio-export,name = "can2_tx";*/
			gpio-export,output = <1>;
			gpio-export,direction_may_change ;
			gpios = <&gpio7 4 1>;
		};	

		/* can2_rx = <&gpio7 5 1>; 197 */
		usb_singal {
			/*gpio-export,name = "can2_rx";*/
			gpio-export,output = <1>;
			gpio-export,direction_may_change ;
			gpios = <&gpio7 5 1>;
		};
		
		/* lcd_vdd_en = <&gpio6 7 1>; 167 */
		lcd_vdd_en {
			/*gpio-export,name = "lcd_vdd_en";*/
			gpio-export,output = <1>;
			gpio-export,direction_may_change ;
			gpios = <&gpio6 7 1>;
		};

	};

	sound {
		compatible = "fsl,imx6q-rtx-sgtl5000",
			     "fsl,imx-audio-sgtl5000";
		model = "imx6q-rtx-sgtl5000";
		ssi-controller = <&ssi1>;
		audio-codec = <&codec>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"LINE_IN", "Line In Jack",
			"Headphone Jack", "HP_OUT",
			"Ext Spk", "LINE_OUT";
		mux-int-port = <1>;
		mux-ext-port = <3>;
	};

	sound-hdmi {
		compatible = "fsl,imx6q-audio-hdmi",
			         "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
	};

	lvds_display: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};
	
	hdmi_display: fb@2 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1920x1080M@60";
		default_bpp = <32>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};
	
	lcd_display: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB24";
		mode_str ="LDB-XGA";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	lcd@0 {
		compatible = "fsl,lcd";
		ipu_id = <0>;
		disp_id = <0>;
		default_ifmt = "RGB24";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu1_1>;
		status = "okay";
	};

	lvds0_pwm {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 50000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		enable-gpios = <&gpio6 9 1>;
		power-supply = <&reg_backlight>;
		status = "okay";
	};

	v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_1 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};

	advantech {
		compatible = "advantech,gf08-rom7420";
		pinctrl-names = "default";
		gpio-power = <&gpio7 4 0>;
		status = "okay";
	};

};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux_3>;
	status = "okay";
};

&ecspi1 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio3 19 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_cspi1_1>;
	status = "okay"; 

	flash: n25q032@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "n25q032";
		spi-max-frequency = <20000000>;
		reg = <0>;
		partition@0 {
			label = "full-spi-flash";
			reg = <0x00000000 0x00400000>;  /* 4MB */ 
		};
	};
};

&ecspi5 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio1 17 0>, <&gpio1 19 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_cspi5_1>;
	status = "okay"; 
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet_4>;
	phy-mode = "rgmii";
	phy-reset-gpios = <&gpio1 25 0>;
	phy-reset-fall-duration = <1>;
	phy-reset-rise-duration = <20>;
	phy-reset-boot-on;
	status = "okay";
};

&hdmi_audio {
	status = "okay";
};

&gpc {
	fsl,ldo-bypass = <1>; /* use ldo-bypass, u-boot will check it and configure */
	fsl,wdog-reset = <2>; /* watchdog select of reset source */
};

&hdmi_cec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hdmi_cec_2>;
	status = "okay";
};

&hdmi_core {
	ipu_id = <0>;
	disp_id = <1>;
	status = "okay";
};

&hdmi_video {
	fsl,phy_reg_vlev = <0x0294>;
	fsl,phy_reg_cksymtx = <0x800d>;
	status = "okay";
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1_2>;
	status = "okay";

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks IMX6QDL_CLK_CKO>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
		amic-mono;
	};

	s35390a: s35390a@30 {
		compatible = "s35390a";
		reg = <0x30>;
	};

};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_2>;
	status = "okay";

	hdmi_edid: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};

};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3_2>;
	status = "okay";

	ch7055: edid@76 {
		compatible = "fsl,ch7055-i2c";
		reg = <0x76>;
	};

	vga: edid@50 {
		compatible = "fsl,vga-i2c";
		reg = <0x50>;
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie_1>;
	power-on-gpio = <&gpio3 20 0>;
	reset-gpio = <&gpio7 12 0>;
	wake-up-gpio = <&gpio5 20 1>;
	disable-gpio = <&gpio4 14 0>;
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1_1>;
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2_1>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3_1>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4_1>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5_1>;
	status = "okay";
};

&usbotg {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg_2>;
	vbus-supply = <&reg_usb_otg_vbus>;
	disable-over-current;
	status = "okay";
};

&usbh1 {
	pinctrl-names = "default";
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2_50mhz &pinctrl_usdhc2_cd_wp>;
	bus-width = <4>;
	cd-gpios = <&gpio2 2 1>;
	wp-gpios = <&gpio2 3 0>;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4_1>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	keep-power-in-suspend;
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1_1>;
	status = "okay";
};

&ldb {
	status = "okay";
	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		primary;
		crtc = "ipu1-di0";
		interface_pix_fmt = "RGB666";
		status = "okay";

		display-timings {
			native-mode = <&timing0>;
			timing0: hsd100pxn1 {
				clock-frequency = <24360000>;
				hactive = <800>;
				hfront-porch = <40>;
				hback-porch = <40>;
				hsync-len = <48>;
				
				vactive = <480>;
				vfront-porch = <13>;
				vback-porch = <29>;
				vsync-len = <3>;

				hsync-active = <1>;
				vsync-active = <1>;
				de-active = <0>;
			};
		};
	};

};

